<footer class="fixed-bottom">
    &copy; 2017 -ADS?!?! Jeff Hall 200328772
</footer>

<!-- attempt at js-->
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/adScripts.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>