<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
    <!--bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />


</head>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="nav navbar-nav">
    <li><a href="/">HOME OF ADS</a></li>
    <li><a href="/ads">AD LISTINGS</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>

        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
</html>