<% include ./partials/header.ejs %>

    <h1><%= title %></h1>
    <p>Welcome to ADS Central</p>
<main>
  <section class="jumpotron">
    This place has Ads
  </section>
</main>
<% include ./partials/footer.ejs %>
